:host{
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;

  &:hover{
    background-color: lightgray;
  }
}

.item-image{
  padding: 10px;
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.item-title{
  font-weight: bold;
  flex-grow: 1;
  padding: 10px;
}

.item-qty{
  font-weight: bold;
  width: 50px;
}

.item-unit-price{
  width: 100px;
}

.item-total-price{
  font-size: 1.2rem;
  font-weight: bold;
  width: 100px;
  color: #232f3e;
}

.remove{
  width: 60px;
  font-size: 1.5rem;
  padding: 10px;
}
