<div class="item-container">
  <img class="item-image" src="{{item.image}}}" alt="product image">
  <div>
    <h2 class="item-title">{{item.title}}</h2>
    <div class="item-rating" [ngSwitch]="item.rating" >
      <div *ngSwitchCase="5">⭐⭐⭐⭐⭐</div>
      <div *ngSwitchCase="4">⭐⭐⭐⭐</div>
      <div *ngSwitchCase="3">⭐⭐⭐</div>
      <div *ngSwitchCase="2">⭐⭐</div>
      <div *ngSwitchCase="1">⭐</div>
    </div>
    <div class="item-price">Price: <span>{{item.price|currency :'USD'}}</span></div>
    <div *ngIf="cartItem !== item.qty" class="item-stock">In Stock: <span>{{item.qty - cartItem}}</span></div>
    <div *ngIf="cartItem === item.qty" class="out-of-stock">Out of Stock</div>
    Add to Cart
    <div class="input-group mb-3 add-to-cart-ctrl">
      <button [disabled]="cartItem === 0" class="btn btn-outline-secondary" type="button" (click)="updateCart(false)">-</button>
      <input type="text" class="form-control" [disabled]="true" [(ngModel)]="cartItem">
      <button [disabled]="cartItem === item.qty"class="btn btn-outline-secondary" type="button" (click)="updateCart(true)">+</button>
    </div>
  </div>
</div>
<div class="item-description" [innerHTML]="item.description??'No description'">

</div>
