.cart{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.cart-items-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.empty-cart{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;

  h1{
    padding: 20px 10px;
  }

}

.cart-icon {
  background-image: url('../../assets/images/amazon-icons.png');
  background-position: -10px -340px;
  width: 38px;
  height: 26px;
  padding: 10px;
  transform: scale(2.0);
  margin: 20px 0;
}

.checkout-container {
  border: 1px solid lightgray;
  border-radius: 7px;
  margin: 10px;
  padding: 10px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  h1 {
    text-align: center;
    padding: 20px;
  }

  button {
    background: #FFD814;
    outline: none;
    border: 1px solid #FCD200;
    padding: 10px;
    border-radius: 20px;
    width: 80%;
  }

}
