
<div class="cart-item">
  <img class="item-image" src="{{item.image}}">
  <p class="item-description">{{item.description}}</p>
  <ng-container [ngSwitch]="item.rating" ]>
    <div *ngSwitchCase="5">⭐⭐⭐⭐⭐⭐</div>
    <div *ngSwitchCase="4">⭐⭐⭐⭐</div>
    <div *ngSwitchCase="3">⭐⭐⭐</div>
    <div *ngSwitchCase="2" >⭐⭐</div>
    <div *ngSwitchDefault>⭐</div>
  </ng-container>

  <div class="item-price">{{item.price | currency: 'USD'}}</div>
  <div class="item-stock">In Stock: <span>{{item.qty - cartItem}}</span></div>
  Add to Cart
  <div class="input-group mb-3 add-to-cart-ctrl">
    <button [disabled]="cartItem === 0"  class="btn btn-outline-secondary" type="button" (click)="updateCart(false)">-</button>
    <input type="text" class="form-control" [ngModel]="cartItem" [disabled]="true">
    <button [disabled]="cartItem === item.qty" class="btn btn-outline-secondary" type="button" (click)="updateCart(true)">+</button>
  </div>
</div>
